<div (click)="showmore(houseId)" class="relative size-full bg-red-40 overflow-hidden">
    <div [ngClass]="{'hidden': !house.favorite}" class="absolute bg-red-40 z-10 top-3 left-3">
        <p class="px-2 py-1 text-sm font-medium rounded-full bg-white border border-white text-gray-950">Guest favorite</p>
    </div>
    <div>

    </div>
    <swiper-container slides-per-view="1" speed="200" css-mode="true" class="w-full aspect-square overflow-hidden rounded-xl" >
        @for (i of house.photos; track i) {
        <swiper-slide>
           <img src="{{i}}" class="size-full object-cover" />
        </swiper-slide>
        }
    </swiper-container>
    <div class="flex justify-between mt-2">
        <div class="space-y-1">
            <p class="text-base font-bold">{{house.location}}, Nigeria</p>
            <p class="text-sm font-light text-slate-500">Ocean and Sea Views</p>
            <p class="text-sm font-light text-slate-500">Sep 18 - 23</p>
            <p *ngIf="!beforeTaxes" class="text-base font-medium text-slate-800"> <span class="text-base font-bold text-black">${{house.priceAfterTax}}</span> night</p>
            <p *ngIf="beforeTaxes" class="text-base font-medium text-slate-800"> <span class="text-base font-bold text-black">${{house.priceBeforeTax}}</span> night (before taxes) </p>
        </div>
        <div>
            <p class="text-base">{{house.starRating}}</p>
        </div>
    </div>
</div>
