<div (scroll)="reveal($event)" id="room" class="relative pb-20 h-full bg-green-40 overflow-scroll">
  <!-- secondary scoll-point desktop header -->
  <div *ngIf="secHeader" class="hidden transition-all xl:flex gap-5 w-full bg-white border-b border-slate-200 sticky top-0 z-20 px-28">
    @for (item of ["Photos", "Amenities", "Reviews", "Location"]; track item) {
      <div class="group relative py-7">
        <div class="absolute z-10 w-full h-1 bottom-0 bg-gray-950 hidden group-hover:block transition-all"></div>
        <p class="text-sm text-slate-700 font-medium">{{item}}</p>
      </div>
    }

  </div>
  <!-- see more component  -->
  <div [ngClass]="{'h-[100%] py-10': showMore}" class="fixed bg-white left-0 right-0 rounded-t-3xl transition-all bottom-0 h-1 z-50 px-5">
    <div (click)="showMore = false" class="size-8 rounded-full bg-red-400"></div>
    <div class="mt-5 space-y-5">
      <h2 class="text-2xl font-medium">About this space</h2>
      <p class="text-slate-600 leading-7"> Welcome to AirBNB (clone) built by Olalekan Oladimeji. It was built using Angular, TypeScript and Tailwind CSS.
        <br /><br/>This project started off as a friendly and healthy competition between I and my Dev friends until I took it too far and personal and decided to surpass my limit with this project.
        <br /><br/>This is my first project built with Angular. I am a React Dev who is trying to learn Angular. My ReactJS skills is a solid 7/10 to be fair.</p>
    </div>
  </div>
  <!-- fixed bottom component -> Reserve. -->
  <div class="xl:hidden fixed z-20 bottom-0 w-full bg-white border-t border-slate-200 flex justify-between items-center p-5">
    <div>
        <p>$208 night</p>
        <p>Sep 9 - 14</p>
    </div>
    <div>
        <button  class="w-36 py-3 bg-pink-600 text-white rounded-lg">Reserve</button>
    </div>
  </div>
  <div class="hidden py-5 px-28 xl:flex justify-between items-center bg-green-40 border border-slate-200">
    <div class="w-[25%] h-10 bg-red-300"></div>
    <div class="w-[25%] h-10 bg-red-300">

    </div>
    <div class="w-[25%] h-10 bg-red-300"></div>
  </div>
  <div class="relative w-full h-60 xl:h-auto bg-slate-60 xl:px-28">
    
    <!--mobile circle top 3 nav -->
    <div class="xl:hidden absolute z-10 top-3 px-3 w-full h-8 flex justify-between">
      <div (click)="back()" class="size-8 rounded-full bg-white"></div>
      <div class="flex gap-3">
        <div class="size-8 rounded-full bg-white"></div>
        <div class="size-8 rounded-full bg-white"></div>
      </div>
    </div>
    <div class="hidden xl:block py-5 text-3xl">
      <p class="text-3xl">{{room.views}}</p>
    </div>
    
    <swiper-container css-mode="true" class="size-full xl:hidden">
      @for (photo of room.photos; track photo) {
        <swiper-slide>
          <img src="{{photo}}" class="size-full object-cover" />
        </swiper-slide>
      }
    </swiper-container>


    <div class="hidden xl:flex gap-2 justify-between w-full h-80 bg-red-10 text-white rounded-xl overflow-hidden">
      <div class="relative w-1/2 h-full bg-slate-600  flex items-center justify-center group">
        <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
        <img src="{{room.photos[0]}}" class="size-full object-cover"/>
      </div>
      <div class="w-1/2 flex flex-col gap-2 justify-between  bg-red-40">
        <div class="h-1/2 w-full flex gap-2 justify-between">
          <div class="group relative w-1/2 bg-slate-600 flex items-center justify-center">
            <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
            <img src="{{room.photos[1]}}" class="size-full object-cover"/>
          </div>
          <div class="group relative w-1/2 bg-slate-600 flex items-center justify-center">
            <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
            <img src="{{room.photos[2]}}" class="size-full object-cover"/>
          </div>
        </div>
        <div class="h-1/2 w-full flex gap-2 justify-between">
          <div class="group relative w-1/2 bg-slate-600 flex items-center justify-center">
            <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
            <img src="{{room.photos[3]}}" class="size-full object-cover"/>
          </div>
          <div class="group relative w-1/2 bg-slate-600 flex items-center justify-center">
            <div class="hidden group-hover:block absolute size-full bg-black bg-opacity-10"></div>
            <img src="{{room.photos[4]}}" class="size-full object-cover"/>
          </div>
        </div>
      </div>
    </div>

    
  </div>
  <div class="relative  xl:flex">
    <div class="xl:w-1/2">
    <!-- section1 -->
    <div class="py-6 px-5 xl:px-28 border-b border-slate-200 space-y-3">
      <h1 class="xl:hidden font-medium text-3xl text-slate-900">
        {{room.views}}
      </h1>
      <div class="space-y-1">
        <p class="xl:text-3xl">Located in {{room.location}}</p>
        <p class="xl:text-slate-950 xl:font-light">10 guests . 6 bedrooms . 8 beds . 3 baths</p>
        <p class="xl:font-normal">{{room.starRating}} | 24 reviews</p>
      </div>
    </div>
    <!-- section2 -->
    <div class="py-6 px-5 xl:px-28 border-b border-slate-200 flex items-center gap-5">
      <div class="size-10 bg-slate-60 rounded-full">
        <img src="../../assets/images/ola_dp.jpg" class="size-full object-cover rounded-full" />
      </div>
      <div class="space-y-1">
        <p class="font-normal">Hosted by Olalekan Oladimeji</p>
        <p class="text-sm text-slate-500">Vercel hosting</p>
      </div>
    </div>
    <!-- section3 -->
    <div class="py-6 px-5 xl:px-28 border-b border-slate-200 space-y-2">
      <div class="flex items-start gap-5">
        <div class="size-8 bg-slate-600 rounded-full"></div>
        <div class="">
          <p class="font-normal">Free cancellation for 48 hours</p>
          <p  class="text-sm text-slate-500">Check yourself in with the smartlock.</p>
        </div>
      </div>
      <div class="flex items-start gap-5">
        <div class="size-8 bg-slate-600 rounded-full"></div>
        <div class="">
          <p class="font-normal">Self check-in</p>
          <p  class="text-sm text-slate-500">Check yourself in with the smartlock.</p>
        </div>
      </div>
      <div class="flex items-start gap-5">
        <div class="size-8 bg-slate-600 rounded-full"></div>
        <div class="">
          <p class="font-normal">Furry friends welcome</p>
          <p  class="text-sm text-slate-500">Bring your pets along for the stay.</p>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="py-6 px-5 xl:px-28 bg-stone-300 bg-opacity-50 w-full">
      <h2 class="text-2xl font-medium text-slate-900">Meet the Developer</h2>
      <div class="flex flex-col p-5 mt-5 bg-white rounded-2xl shadow-md shadow-slate-400">
        <div class="w-full flex flex-col items-center justify-center bg-red-40">
          <div class="relative">
            <div class="size-6 rounded-full bg-pink-600 absolute z-10 bottom-0 right-0"></div>
            <div class="size-24 rounded-full bg-slate-60">
              <img src="../../assets/images/ola_dp.jpg" class="size-full object-cover rounded-full"/>
            </div>
          </div>
          <p class="font-semibold text-2xl text-slate-950 tracking-wider">Olalekan</p>
          <p class="font-semibold text-2xl text-slate-900 tracking-wider ">Oladimeji</p>
          <p class="font-normal text-sm text-slate-700">Full-Stack Developer</p>
          
        </div>
        <div class="w-full flex items-start justify-between bg-red-40">
          <div class="py-3 w-1/3 flex flex-col items-center justify-center">
            <p class="text-xl font-medium text-gray-700">10+</p>
            <p class="text-xs text-slate-400">Projects</p>
          </div>
          <div class="py-3 w-1/3 flex flex-col items-center justify-center">
            <p class="text-xl font-medium text-gray-700">4.94</p>
            <p class="text-xs text-slate-400">Rating</p>
          </div>
          <div class="py-3 w-1/3 flex flex-col items-center justify-center">
            <p class="text-xl font-medium text-gray-700">2</p>
            <p class="text-xs text-slate-400">YOE</p>
          </div>
        </div>
      </div>
      <div class="font-light mt-10 space-y-3">
        <div class="flex gap-3 items-start">
          <div class="w-[10%]">
            <div class="size-5 bg-red-400"></div>
          </div>
          <p class="bg-green-40 w-[90%]">Born in the 2000s</p>
        </div>
        <div class="flex gap-3 items-start">
          <div class="w-[10%]">
            <div class="size-5 bg-red-400"></div>
          </div>
          <p class="w-[90%]"><a href="https://olalekan-oladimeji-portfolio.vercel.app" target="_blank" class="underline underline-offset-2">Portfolio Website</a></p>
        </div>
        <div class="flex gap-3 items-start">
          <div class="w-[10%]">
            <div class="size-5 bg-red-400"></div>
          </div>
          <p class="w-[90%]">Interests/Hobbies: Reading, Playing games, Watching Animes, Coding</p>
        </div>
        <div class="flex gap-3 items-start">
          <div class="w-[10%]">
            <div class="size-5 bg-red-400"></div>
          </div>
          <p class="w-[90%]">Nigerian</p>
        </div>
      </div>
    </div>
    <!-- section4 -->
    <div class="py-6 px-5 xl:px-28 border-b border-slate-200">
      <h2 class="text-2xl font-medium mb-5" >About this project</h2>
      <p class="line-clamp-6 text-slate-600 font-light leading-7">
        Welcome to AirBNB (clone) built by Olalekan Oladimeji. It was built using Angular, TypeScript and Tailwind CSS.
        This project started off as a friendly and healthy competitions between I and my Dev friends until I took it too far and personal and decided to surpass my limit with this project.
        This is my first project built with Angular. I am a React Dev who is trying to learn Angular. My ReactJS skills is a solid 7/10 to be fair.
      </p>
      <div class="mt-2">
        <p (click)="showMore = true" class="underline">Show More</p>
      </div>
    </div>
    <!-- section5 -->
    <div class="py-6 px-5 xl:px-28 border-b border-slate-200">
      <h2 class="text-2xl font-medium mb-5" >Where you'll sleep</h2>
      <div class=" w-full bg-green-40">
        <swiper-container
          slides-per-view="2"
          space-between="50"
          speed="200"
          css-mode="true"
        >
          @for (i of [1,2,3,4,5,6,7,8]; track i) {

          <swiper-slide class="">
            <div class="space-y-3">
              <div class="w-40 h-24 bg-slate-60 rounded-lg">
                <img src="../../assets/images/bedroom.jfif" class="size-full object-cover rounded-lg" />
              </div>
              <div>
                <p>Bedroom 1</p>
                <p class="text-slate-500">1 single bed</p>
              </div>
            </div>
          </swiper-slide>

          }
        </swiper-container>
      </div>
    </div>
    <!-- section6 -->
    <div class="py-6 px-5 xl:px-28 border-b border-slate-200">
      <h2 class="text-2xl font-medium">What this place offers</h2>
      <div class="space-y-3 mt-3">
        <div class="flex items-center gap-5">
          <div class="size-8 bg-slate-600 rounded-full"></div>
          <p class="text-slate-800 font-light">Garden view</p>
        </div>
        <div class="flex items-center gap-5">
          <div class="size-8 bg-slate-600 rounded-full"></div>
          <p class="text-slate-800 font-light">Sea view</p>
        </div>
        <div class="flex items-center gap-5">
          <div class="size-8 bg-slate-600 rounded-full"></div>
          <p class="text-slate-800 font-light">Kitchen</p>
        </div>
        <div class="flex items-center gap-5">
          <div class="size-8 bg-slate-600 rounded-full"></div>
          <p class="text-slate-800 font-light">Wifi</p>
        </div>
        <div class="flex items-center gap-5">
          <div class="size-8 bg-slate-600 rounded-full"></div>
          <p class="text-slate-800 font-light">Dedicated workspace</p>
        </div>
      </div>
      <div class="mt-5">
        <button class="py-2 text-center w-full border border-gray-700 rounded-lg">
          Show all amenities
        </button>
      </div>
    </div>
    <!-- section7 -->
    <div  class="py-6 px-5 xl:px-28 border-b border-slate-200">
      <h2 class="text-2xl font-medium mb-5">Where you will be</h2>
      <div class="w-full h-44 bg-slate-600 rounded-lg"></div>
      <div class="space-y-3 mt-5">
        <p class="font-semibold">{{room.location}}</p>
        <p class="line-clamp-3 text-slate-500">
          {{room.location.split(",")[0]}} is a cozy little village close to nature. In the village you
          will find Mus-Olles museum and two lakes. Linnéaholmen is situated in
          Storsjön, which is Sweden’s fifth largest lake. There are good
          opportunities for fishing in the summer, and nice cross-country skiing
          tracks during the snowy winters. The vicinity to both Åre and
          Östersund provide ideal opportunities for a wide range of vacation
          activities. Read more Getting around As is usually the case in the
          countryside, access to a car for getting around is recommenden. There
          are private parking spots by the short footbridge that takes you to
          Linnéaholmen. There are also buses between Järpen and Östersund which
          stop in Ytterån. From the road (E14) where the bus stop is, there is
          ca 750 m to Linnéaholmen.
        </p>
        <p class="underline">See more</p>
      </div>
    </div>
    <!-- section8 -->
    <div  class="py-6 px-5 xl:px-28 border-b border-slate-200">
       <h3>5 nights in Ytteran</h3>
       <p>Sep 9, 2024 - Sep 14, 2024</p>
      </div>
    </div>
    <div class="hidden py-8 xl:flex w-1/2 bg-red-400 sticky top-80 justify-center">
      <div [ngClass]="{'sticky top-24': secHeader}" class="bg-white rounded-2xl p-10">
        <p>${{room.priceAfterTax}}</p>
      </div>
    </div>
  </div>
</div>
